fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.34
pydantic==2.8.2
pydantic-settings==2.4.0
# opencv-python==4.10.0.84  # add later
# face_recognition==1.3.0   # add later
# numpy==1.26.4             # add later
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
email-validator==2.2.0 